<html>
<body>
<head>
<p><%= link_to 'Back', root_path %> </p>
</head>

<h1>Welcome to Estimates Data Report </h1>


<%= render 'form' %>

<details>
   <p>* Please use state abbreviations for search.</p>
   <p>* Get all state Estimate Data by input "all". </p>
</details> 

</body>
</html>